.row
  .col-xs-8.col-xs-offset-2
    .content-block
      .content-block__head
        %p
          %i Select services to better consume your shared email content with.

.row
  .col-xs-4.col-xs-offset-2
    .content-block
      .content-block__header
        %i.glyphicon.glyphicon-book
        Read
      .content-block__app
        = link_to user_omniauth_authorize_path(:provider => "pocket") do
          .app{:class => "#{'app--active' if current_user.accounts.where(:action=> 'read', :provider => "pocket").present?}"}
            .app__icon
              = image_tag 'icon-pocket.png'
            .app__name Pocket

        = link_to user_omniauth_authorize_path(:provider => "readability") do
          .app{:class => "#{'app--active' if current_user.accounts.where(:action=> 'read', :provider => "readability").present?}"}
            .app__icon
              = image_tag 'icon-readability.png'
            .app__name Readability


  .col-xs-4
    .content-block
      .content-block__header
        %i.glyphicon.glyphicon-eye-open
          Watch
      .content-block__app
        = link_to user_omniauth_authorize_path(:provider => "vimeo") do
          .app{:class => "#{'app--active' if current_user.accounts.where(:action=> 'watch', :provider => "vimeo").present?}"}
            .app__icon
              = image_tag 'icon-vimeo.png'
            .app__name Vimeo

        = link_to youtube_users_path do
          .app{:class => "#{'app--active' if current_user.accounts.where(:action=> 'watch', :provider => "youtube").present?}"}
            .app__icon
              = image_tag 'icon-youtube.png'
            .app__name YouTube

.row
  .col-xs-4.col-xs-offset-2
    .content-block
      .content-block__header
        %i.glyphicon.glyphicon-music
          Listen
      .content-block__app
        .app.app--active
          .app__icon
            = image_tag 'icon-youtube.png'
          .app__name YouTube

  .col-xs-4
    .content-block
      .content-block__header
        %i.glyphicon.glyphicon-list
        Do
      .content-block__app
        .coming-soon
          (TASKS COMING SOON)

.row
  .col-xs-4.col-xs-offset-2
    .content-block
      .content-block__header
        %i.glyphicon.glyphicon-share-alt
        Share
      .content-block__app
        .coming-soon
          (SOCIAL COMING SOON)

  .col-xs-4
    .content-block
      .content-block__header
        %i.glyphicon.glyphicon-calendar
        Meet
      .content-block__app
        .coming-soon
          (MEETINGS COMING SOON)
