.row
  .col-xs-4.col-xs-offset-2
    .content-block
      .content-block__header
        %i.glyphicon.glyphicon-book
        Read
      .content-block__app
      %ul.content-block__sources
        - @contacts.each do |contact|
          %li.content-block__source
            %input(type='checkbox')
            %label= contact.email

  .col-xs-4
    .content-block
      .content-block__header
        %i.glyphicon.glyphicon-music
        Listen
      .content-block__app
      %ul.content-block__sources
        - @contacts.each do |contact|
          %li.content-block__source
            %input(type='checkbox')
            %label= contact.email

.row
  .col-xs-4.col-xs-offset-2
    .content-block
      .content-block__header
        %i.glyphicon.glyphicon-eye-open
        Watch
      .content-block__app
      %ul.content-block__sources
        - @contacts.each do |contact|
          %li.content-block__source
            %input(type='checkbox')
            %label= contact.email

  .col-xs-4
    .content-block
      .content-block__header
        %i.glyphicon.glyphicon-list
        Do
      .content-block__app
      %ul.content-block__sources
        - @contacts.each do |contact|
          %li.content-block__source
            %input(type='checkbox')
            %label= contact.email

.row
  .col-xs-4.col-xs-offset-2
    .content-block
      .content-block__header
        %i.glyphicon.glyphicon-share-alt
        Share
      .content-block__app
      %ul.content-block__sources
        - @contacts.each do |contact|
          %li.content-block__source
            %input(type='checkbox')
            %label= contact.email

  .col-xs-4
    .content-block
      .content-block__header
        %i.glyphicon.glyphicon-calendar
        Meet
      .content-block__app
      %ul.content-block__sources
        - @contacts.each do |contact|
          %li.content-block__source
            %input(type='checkbox')
            %label= contact.email