!!!
%html
  %head
    %title Super charging your inbox | Email Lang
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body

    .header
      .container
        .row
          .col-xs-8.col-xs-offset-2
            .branding
              .branding__logo Email Lang
              .branding__slogan Super charging your inbox

            %ul.header-nav
              - if user_signed_in?
                %li.header-nav__item
                  = link_to "Your Contacts", contacts_path
                  &bull;
                %li.header-nav__item
                  = link_to "Your Accounts", accounts_path
                  &bull;
                %li.header-nav__item
                  = link_to "Logout", destroy_user_session_path, method: :delete
              - else
                %li.header-nav__item
                  = link_to "Login", new_user_session_path

    .container
      = yield

= javascript_include_tag "application", "data-turbolinks-track" => true
