!!!
%html
  %head
    %title Super charging your inbox | Email Lang
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body

    %nav.navbar.navbar-default
      .container
        .row
          .col-xs-12
            .navbar-header
              .navbar-brand Email Lang | Super charging your inbox

            %ul.nav.navbar-nav
              %li
                = link_to "Your whitelist", contacts_path
              %li
                = link_to "Your accounts", ''

              %li
                - if user_signed_in?
                  = link_to "Logout", destroy_user_session_path, method: :delete
                - else
                  = link_to "Login", new_user_session_path

    .container
      .row
        .col-xs-12
          = yield

= javascript_include_tag "application", "data-turbolinks-track" => true
